.main {
    width: 100%;
    height: calc(100vh - 66px);
}
.main .table-container {
    overflow: auto;
    /* margin: 0 20px; */
    height: calc(100vh - 66px);

    display: grid;
    grid-template-rows: auto 1fr;
}
.main .table-container .upper-portion {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr auto;

    padding: 0 1.5rem;
}
.main .table-container .upper-portion .button-add {
    display: flex;
    align-items: center;
}
.main .table-container .upper-portion .export {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin: 0 40px 0 0;
}
.main .table-container .upper-portion .export button {
    padding: 5px 15px;
}
.main .table-container .upper-portion .search {
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.main .table-container .upper-portion .button-add button {
    padding: 5px 15px;
}
/* Structure */
table {
    width: 100%;
    padding: 0 1.5rem;
}
table th{
    /*background-color: #614c80 ;*/
    background-color: #614c80;
    color:#fafafa;
    box-shadow: 1px 1px 1px #000;
    
    width: 30px;

    font-weight: bold;
    font-size: 1rem;
}
table tr {
    background-color: #eee;
    font-size: 1.3rem;

    
}
table tr td {
    
    width: 30px;
    font-size: 1rem;
    margin-left: 10px;
}
table tr button {
    padding:unset;

    margin-left: 15px;
}
/* Desktop/Laptop */
@media (max-width: 1200px) {
}
/* Tablet */
@media (max-width: 992px) {
}
/* Tablet/Mobile Large */
@media (max-width: 768px) {
    * {
        font-size: 1.4rem;
    }
}
/* Mobile */
@media (max-width: 576px) {
    * {
        font-size: .8rem;
    }
}