<div class="main">
    <div class="content">
        <div class="divide">
            <div class="upper">
                <mat-card>
                    <mat-card-title>Drinks Available</mat-card-title>
                    <p>{{beveragesCount}}</p>
                </mat-card>
                <mat-card>
                    <mat-card-title>Accounts</mat-card-title>
                    <p>{{accountCount}}</p>
                </mat-card>
            </div>
            <div class="drinks">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Coca-Cola</mat-card-title>
                      <mat-card-subtitle>Beverages Inc.</mat-card-subtitle>
                    </mat-card-header>
                    <div mat-card-image class="image"></div>
                    <!-- <img mat-card-image src="../../assets/profileBev.png" alt="Photo of a Drink"> -->
                    <mat-card-content>
                        <b>Description </b>
                      <p>
                        Coca-Cola. Enjoy.
                      </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Milk</mat-card-title>
                      <mat-card-subtitle>Beverages Inc.</mat-card-subtitle>
                    </mat-card-header>
                    <div mat-card-image class="image2"></div>
                    <!-- <img mat-card-image src="../../assets/profileBev.png" alt="Photo of a Drink"> -->
                    <mat-card-content>
                        <b>Description </b>
                      <p>
                        Great health comes from nutrition.
                      </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Root Beer</mat-card-title>
                      <mat-card-subtitle>Beverages Inc.</mat-card-subtitle>
                    </mat-card-header>
                    <div mat-card-image class="image3"></div>
                    <!-- <img mat-card-image src="../../assets/profileBev.png" alt="Photo of a Drink"> -->
                    <mat-card-content>
                        <b>Description </b>
                      <p>
                        Fresh. Smooth. Real. It’s all here..
                      </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>